[2016-04-06 14:19] vivekgalatage opened #1 "Should IME appear as soon as the scan has finished?"
Currently, the app shows the IME (keyboard) on the mobile device as soon as the scan finishes.
I think most people would like to copy the content rather than editing it inline. Even if they would like to do so, you can provide an explicit "Edit" option.

Just my two cents. Thoughts?

[2016-04-06 14:22] vivekgalatage opened #2 "Freeze the camera feed once the scan finishes and "Copy QR code" dialog is showing"
Right now, the app continues with the live feed after an successful scan and while the "Copy QR code" dialog is still showing up.

Freezing the viewfinder frame upon successful scan would not only help the user analyse the viewfinder frame but also saving the battery power. :)

[2016-04-06 14:41] gokulkrishh commented on #1
@vivekgalatage Thanks for the suggestion. Freezing camera stream after scanning is good idea to save battery + instead of edit option, we can provide a `copy` button to copy the text and let the user edit if he want to by accessing the input field.

@hemanth What do you think ??

[2016-04-06 14:42] gokulkrishh commented on #2
@vivekgalatage Good suggestion ;)

[2016-05-20 17:53] sangeetjass opened #3 "It hangs"
Upon loading second time previous image sticks and scan button does not work

[2016-05-21 08:21] gokulkrishh commented on #3
@sangeetjass Thanks for reporting. We will look into it.

[2016-06-14 23:46] aahedi opened #4 "Not working in mobile browser (chrome)"
I had tried it but not working in mobile browser (chrome)

[2016-06-26 12:43] gokulkrishh commented on #4
@aahedi Can you post the version of chrome and device info.

[2016-06-26 13:14] aahedi commented on #4
chrome 50

[2016-06-26 13:19] aahedi commented on #4
Chrome 50, Android 6.1

[2016-07-02 07:32] gokulkrishh commented on #4
@aahedi Fixed in version 2 which is live now 👍

[2016-07-02 07:32] #4 closed

[2016-07-02 07:32] gokulkrishh commented on #3
@aahedi Fixed in version 2 which is live now 👍

[2016-07-02 07:32] #3 closed

[2016-08-25 08:55] StatikVerse opened #5 "Camera"
Gets stuck on initial frame and won't update display.

Phone: Acer Liquid Jade S55
Android Kit-Kat
Non-Rooted

[2016-08-28 06:10] gokulkrishh commented on #5
@StatikVerse Thanks for reporting 👍 . Working on a fix for this.

[2016-08-28 07:50] gokulkrishh commented on #5
Fixed in 2.0

[2016-08-28 07:50] #5 closed

[2016-10-04 10:25] JochemATN opened #6 "Won't work on iPhone, how can i fix it?"
I build this script in a website, but it works on Android (Google Chrome), but not on iPhone (all browsers, tested in Safari, Firefox and Chrome). Can you tell me how do i fix this?

[2016-10-04 10:27] gokulkrishh commented on #6
Hi @JochemATN Its because there is no API support in iOS. See [here](http://caniuse.com/#search=getUserMedia). As of now we have to wait for the API implementation from iOS side

[2016-10-04 10:28] gokulkrishh commented on #6
I guess this addresses your question @JochemATN

[2016-10-04 10:36] JochemATN commented on #6
Thanks for your fast reaction. but is a pitty that's not supported... Do you know a way how i can build a script that scans QR-codes what is supported by Adroid as well iOS? I want to build a webshop with a search-function on the mobile website who is supported this function.

[2016-10-04 10:41] gokulkrishh commented on #6
Ohh @JochemATN You can use the same script I have used in this app. But as for iOS not sure when they will give API support. You can check their development process [here](https://webkit.org/status/) as in which feature is under development or under consideration etc..

[2016-10-04 10:46] JochemATN commented on #6
But if i run your app on my iphone there happens nothing? how does that come? I am not that experienced developer... sorry!

[2016-10-04 10:48] gokulkrishh commented on #6
@JochemATN Not sure what you are trying to say!!

[2016-10-04 11:36] JochemATN commented on #6
I run your app in Safari on iOS 10 but there will show no camera? I am not an very experienced programmer. Can you give me an example of how do i get your code working on my iphone, or is this not supported yet?

[2016-10-04 12:01] gokulkrishh commented on #6
@JochemATN Again, its not supported yet. Check the link I gave you above.!!

[2016-10-04 12:18] JochemATN commented on #6
Ah, now i understand. Sorry my english is not that good.

[2016-10-04 12:19] JochemATN commented on #6
Thanks! =)

[2016-10-04 12:21] #6 closed

[2016-10-06 19:11] PaulKinlan commented on #6
@gokulkrishh just as a quick FYI, I got QR Code scanning working on iOS by launching the camera app and processing the result.  It's not exactly the same but it works.

Code: https://github.com/PaulKinlan/qrcode
Demo: https://qrsnapper.appspot.com/
Docs: https://developers.google.com/web/fundamentals/native-hardware/capturing-images/

[2016-10-07 02:00] gokulkrishh commented on #6
@PaulKinlan Thanks for letting me know 👍 I will check it out.

[2016-10-07 02:16] gokulkrishh commented on #6
@JochemATN check the above comments for iOS implementation.

[2016-11-15 19:01] JaimeFerBec opened #7 "Unable to open camera"
Whenever I open the app, a toast message shows at the bottom that says: "Unable to open camera, provide permission to access the camera".
The pwa successfully accessed the camera before, but somehow its permissions got revoked.
How do you give permissions to a particular progressive web app?

[2016-11-15 19:13] gokulkrishh commented on #7
@JaimeFerBec Can you pls post the which device and the browser you are using??

And for permission for camera is invoked via https://github.com/code-kotis/barcode-scanner/blob/master/app/js/vendor/qrscan.js#L44

[2016-11-15 19:16] JaimeFerBec commented on #7
**Device**: Google Nexus 4 Build/LMY48T
**OS**: Android 5.1.1
**Web browser**: Google Chrome 54.0.2840.85

[2016-11-15 19:19] JaimeFerBec commented on #7
This is weird: I just accessed the site's configuration on Chrome by clicking on the (i)nfo icon that appears if you first click the vertical three dots icon in the top-right corner of the browser, and it says the site has permission to access the camera.

**EDIT**: I deleted all the data the browser had stored for qrcodescan.in, including the permission to use the camera. I did so to test if it w

[2016-11-15 19:27] gokulkrishh commented on #7
@JaimeFerBec Weird issue. It is supposed to work, might be due to nexus 4 device but not sure. Since you are using latest chrome browser. I will take a look into it. Thanks for reporting 👍

[2016-11-16 12:19] JaimeFerBec commented on #7
I opened the progressive web app again this morning, and it prompted me for camera permission again. After I gave permission for it to use the camera, I have used it several times during this morning, an the failure has not come up again.
The reason why it asked me for permission again remains unknown, though. Yesterday I tried cleaning Chrome's cache and also deleting all the data related to qrsc

[2016-11-16 20:14] gokulkrishh commented on #7
Cool!!. Thanks for letting us know.

[2016-11-16 20:14] #7 closed

[2017-01-15 15:00] sunnysharma03 opened #8 "not working in mobile browser"
when I'm trying to open it with my Microsoft Lumia it is giving me error : Unable to open the camera, provide permission to access the camera.
But I'm allowing it to access the camera

[2017-01-19 08:03] khushi4 opened #9 "not working on iphone"
I was trying to open the live url: https://qrcodescan.in/ on iphone chrome and safari browser.
But camera is not opening.

I tried that source code also, but facing the same problem.

[2017-01-28 06:55] gokulkrishh commented on #9
@khushi4 https://qrcodescan.in/ now supports iOS. Check it out. Thanks for filing the issue!!

[2017-01-28 06:55] #9 closed

[2017-01-28 06:56] gokulkrishh commented on #8
@sunnysharma03 Probably an API support is not in Lumia. Which browser is it?? I couldn't test it Lumia. Will look into it. Thanks for reporting!!

[2017-01-28 18:35] silverAndroid opened #10 "Uses front instead of back camera"
Device: LG V20
OS: Android 7.0
 Chrome version: 55.0.2883.91

When the page loads, it uses my front facing camera as opposed to my back camera

[2017-02-08 04:52] gokulkrishh commented on #10
@silverAndroid Can you clear your application storage in chrome and check again.

[2017-02-08 14:34] silverAndroid commented on #10
It's still showing the front camera

[2017-02-13 22:33] TanQ10 opened #11 "Unable to build"
Hi,

I am unable to build and deploy the project. I can get it up and running just fine though. I get this when i "npm run build". I did set the NODE_ENV var to production. I'm on Windows 10 Pro :(.

C:\Users\afrina\barcode-scanner>set
ALLUSERSPROFILE=C:\ProgramData
APPDATA=C:\Users\afrina\AppData\Roaming
asl.log=Destination=file
CommonProgramFiles=C:\Program Files\Common Files
CommonProgramFiles(

[2017-02-14 03:43] gokulkrishh commented on #11
@TanQ10 I see, issue is in `windows` the `NODE_ENV` is not recognized. Let me check if there a fix for it. Since I m working on mac.

[2017-02-15 22:13] TanQ10 commented on #11
I've been playing around with setting NODE_ENV to global, explicitly setting it to production, but i'm still having the same error.

[2017-03-04 04:41] thanhbinh9xnt opened #12 "Issue scan QR in Iphone."
I have to push source :https://github.com/code-kotis/barcode-scanner/tree/gh-pages to folder web in IIS 7.
It scan QR code in window phone and Android  is Ok , but at Iphone is not good.
i have to test in qrcodescan the same me.
you can support me, make it handle in iphone the same andoid and window phone?
sorry for my english not good!

[2017-03-13 18:09] nvbigben opened #13 "npm run start failed Failed at the barcodeScanner@2.0.0 start script 'webpack-dev-server --hot --inline --open'"
G:\temp\pwa\barcodescanner\barcode-scanner>npm run start

module.js:461
    throw err;
    ^

Error: Cannot find module 'webpack'
    at Function.Module._resolveFilename (module.js:459:15)
    at Function.Module._load (module.js:407:25)
    at Module.require (module.js:487:17)
    at require (internal/module.js:20:19)
    at Object.<anonymous> (G:\temp\pwa\barcodescanner\barcode-scanner\node_modul

[2017-03-14 10:57] Sungdooyoo commented on #13
open package.json

in line 16, you can find

` "extract-text-webpack-plugin": "beta",`

change it to

` "extract-text-webpack-plugin": "latest",`

or

` "extract-text-webpack-plugin": "2.^0.0",`

It seems the plugin doesn't support 'beta' version anymore

[2017-03-14 11:11] e-sung commented on #13
Looks like 'webpack' hasn't properly installed.

Was `npm install` went fine with you?

I changed line 16 of package.json
from
`"extract-text-webpack-plugin": "beta",`
to
`"extract-text-webpack-plugin": "^2.1.0",`

And it fixed everything

[2017-03-15 15:34] nvbigben opened #15 "npm run deploy failed"
npm ERR! Windows_NT 6.1.7601
npm ERR! argv "c:\\nodejs\\node.exe" "c:\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "run" "deploy"
npm ERR! node v7.0.0-nightly20160919366495d4e2
npm ERR! npm  v3.10.3
npm ERR! code ELIFECYCLE
npm ERR! barcodeScanner@2.0.0 deploy: `npm run build && bash deploy.sh`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the barcodeScanner@2.0.0 deploy script 'npm run build

[2017-03-17 13:11] gokulkrishh commented on #13
#14 Fixed the issue. So closing it

[2017-03-17 13:11] #13 closed

[2017-03-17 13:19] gokulkrishh commented on #15
@nvbigben Not quite sure what's the issue here. is your `npm` and `node` path is correct ??

[2017-03-17 13:20] gokulkrishh commented on #12
@thanhbinh9xnt Hey, as of now `safari` doesnt support the `mediaStream API`. So for `iOS` [qrcodescan.in](qrcodescan.in) has a camera button on the bottom to take picture and scan the photo for qr codes. It should work fine. Let me know

[2017-04-04 11:25] nagesh1988 opened #16 "Image Scanning not working in IOS or Iphone"
Following are the simulation steps,

1) I have taken snapshot in Iphone by Provided link from Application
2) Application looks, uploaded image scanning but no response even after 30 min.

Note:
 I have faced same problem with Zxing library & jsqrcode & qrcode-decoder-js. In case of taking snapshot from camera. Suspecting image size problem.

Awaiting for your reply.

[2017-04-04 12:27] nagesh1988 commented on #9
Supports but only works for smaller size images. For snapshots from camera directly, QR code scanning not working. If we upload manually from gallery smaller image, QR code scanning working.

Kindly suggest some alternative to overcome this issue. Awaiting for your response.

[2017-04-05 05:37] nagesh1988 commented on #16
Any update guys...

[2017-04-06 03:49] gokulkrishh commented on #16
@nagesh1988 I tested it in `iOS` both iPad & iPhone. Scanning doesnt work if the image is `too far`.

Can you post the image which you tested ??

[2017-04-06 04:58] nagesh1988 commented on #16
sure i can share. If i will take pic in mobile camera,its giving around 3MB to 4MB based on cam resolution or clarity.
 I have seen one more plugin (https://bl.ocks.org/jazzido/9435670) almost similar to your application. It's giving quick response while web cam scanning but they didn't supported iPhone & Ipad. I mean camera approach.

Just for clarification I explained all these.  Following image

[2017-04-10 05:02] nagesh1988 commented on #16
Any update guys...

[2017-04-10 05:11] gokulkrishh commented on #16
@nagesh1988 I tried these images in https://qrcodescan.in. I have no luck in making it work.

But both of them works in android native app. I will try to find a solution for this. Will keep you posted.

Also from your feedback. I found out that, QR code scanning works for certain distance only when scanning via camera. Will try to address this as well. Thanks nagesh for your feedback.

[2017-04-10 05:16] nagesh1988 commented on #16
Thanks you for your quick response.

I hope you can close this problem ASAP. I will also try on my end. If I will get any update I will share you.

Below plugin working with both the attached images,

https://bl.ocks.org/jazzido/9435670

Thanks Once again.

[2017-04-10 07:22] gokulkrishh commented on #12
Closing this issue. I mentioned the details in above comments. @thanhbinh9xnt Thanks

[2017-04-10 07:22] #12 closed

[2017-04-10 07:32] mobile1za opened #17 "Scanning on iOS is a little clunky"
I have tested the scanning feature on iOS devices and there are a lot of steps involved making it little clunky as follows:
Right now, the steps are
•        Click camera icon
•        click "take photo"
•        take the photo
•        click "use the photo"
•        Then if you do not take a clear photo of the code in a good position this whole process must be repeated. The guide for where the QR

[2017-04-10 10:04] globophobe commented on #17
I believe that it will work like you want when Apple supports getUserMedia in Safari.

[2017-04-10 17:35] gokulkrishh commented on #17
@globophobe Exactly!!

[2017-04-12 02:41] winnable opened #18 "Getting error on RPi"
hi;

I am trying to install the code on my raspberry pi, but when installing getting error
pi@raspberrypi:~ $ npm install
npm WARN enoent ENOENT: no such file or directory, open '/home/pi/package.json'
npm WARN pi No description
npm WARN pi No repository field.
npm WARN pi No README data
npm WARN pi No license field.

Is it possible for you to let me know the system requirement for the code. As I

[2017-04-12 05:37] gokulkrishh commented on #18
@winnable Hey, There is no `package.json` available to on the current directory to do `npm install`. Make sure you have `package.json` in working dir. Also qr code scanner works from node v4 to latest.

[2017-04-12 05:56] winnable commented on #18
@gokulkrishh thanks for your response. What is the pre-requirements on the server to run the script.
do need to install node.js and npm. Please give me list of pre-required script should install in the server to run your program.

Thanks in advance.

[2017-04-12 06:17] gokulkrishh commented on #18
@winnable Install and run as per the `readme`. It will do everything for you. After that copy everything to your server or find the necessary file in this branch [`https://github.com/code-kotis/barcode-scanner/tree/gh-pages`](https://github.com/code-kotis/barcode-scanner/tree/gh-pages)

[2017-04-12 11:30] darkcyber opened #19 "Unable to open camera"
Hi, I just follow your tutorial then, I copy paste dist folder then upload in shared hosting.

When I run I got this error in the bottom left side

Unable to open camera. Provide permission to access camera.

How I can fix it?

Thanks.

[2017-04-12 15:22] gokulkrishh commented on #19
@darkcyber Can you tell me which browser you are using ??

[2017-04-13 02:18] darkcyber commented on #19
Chrome in Deepin OS not sure what version, and in Chrome 57 Windows.

You can try at http://surabayahackerlink.org/unmask-cyber-crime/qr/baca2/

[2017-04-13 03:39] gokulkrishh commented on #19
@darkcyber Got the issue. Your site [`http://surabayahackerlink.org/unmask-cyber-crime/qr/baca2/`](http://surabayahackerlink.org/unmask-cyber-crime/qr/baca2/)  is running in `http`. `getUserMedia()` API which i am using in qrcode scanner requires `https` secure origin to work. Move your site to `https`. This will work.

[2017-04-15 15:58] darkcyber commented on #19
@gokulkrishh How I can modify the script to work in http too? I just use this script for short time at this moment.

Thanks in advance.

[2017-04-16 05:24] gokulkrishh commented on #19
@darkcyber No its not the script. Its `mediaStream API` which i am using for camera which will work only in secure origin.

[2017-04-17 06:35] kibyOu opened #20 "why i scan a barcode there is no result return to me ?"

[2017-04-17 07:23] gokulkrishh commented on #20
@kibyOu You could be more specific. Can you post the barcode which you scanned ??

[2017-04-17 07:24] gokulkrishh commented on #19
@darkcyber Closing this issue for my above reason. Thanks.

[2017-04-17 07:24] #19 closed

[2017-04-17 07:24] gokulkrishh commented on #8
@sunnysharma03 Hi could you give us some more details about your browser, OS version etc.

[2017-04-19 06:55] mobile1za commented on #17
I see a relatively new blog from Webkit posted on Mar 29, 2017 which talks about new features in iOS 10.3. Some of the new features include HTML Media Capture. See this link - https://webkit.org/blog/7477/new-web-features-in-safari-10-1/

Is this what we're looking for?

[2017-04-19 16:47] afcf23 opened #21 "Problems with npm run build"
Hello,
The first command: **npm run start** it´s working very well but when i make this command : **npm run build** I have a problems with dist folder.

 I send you a image with the problem, bellow:

![problem](https://cloud.githubusercontent.com/assets/27778526/25191518/cadedf82-2527-11e7-9687-7d90d2f52f87.PNG)

Can you help me about this?

Best regards,
André Fernandes

[2017-04-20 04:52] gokulkrishh commented on #21
@afcf23 Understood. Problem is with `ugligyjs` of `decorder.min.js`.

Replace the `build` in `package.json` with below and run it.

[code]

Uglify is not necessary, since it is already a minified file. I will remove that in next version. Thanks for reporting.

[2017-04-20 09:06] afcf23 commented on #21
Hello @gokulkrishh,
Thanks for your feedback.

I made that change in the project, however the command is not generating the dist folder as expected. There is no error logged when I run the command.
So, I believe it might be related to another issue (maybe permissions ?). It shouldn't right?

Please let me know if I can share some image for you to help us to find the solution for this.

Thanks.
And

[2017-04-20 09:44] gokulkrishh commented on #21
Hey @afcf23,

What is the error you are getting ?? `There is no error logged when I run the command`. Can you delete the folder and clone and run it again. Because the setup is fairly simple.

[2017-04-20 10:51] afcf23 commented on #21
Hello @gokulkrishh,

When I make this command "npm run build" I don't have errors. I see this on output only:

$ npm run build

Thanks,
André

[2017-04-20 11:32] gokulkrishh commented on #21
@afcf23 So dist folder is not generated ??. May I know which OS you are using and node & npm version. I will try to debug it. THanks

[2017-04-20 11:58] afcf23 commented on #21
@gokulkrishh The dist folder was not generated.
OS - Windows 10
Node: v6.10.2
npm: 3.10.10

Thanks

[2017-04-20 12:24] gokulkrishh commented on #21
@afcf23 Cool. I will check it out and let you know.

[2017-04-21 04:54] sunnysharma03 commented on #8
I'm using windows 10 in my lumia and browser is Edge

[2017-04-21 09:21] gokulkrishh commented on #8
@sunnysharma03 Thanks. Will look into it.

[2017-04-21 20:01] korrio opened #22 "Can it scan barcode ?"
Or only QR code ?

[2017-04-22 04:00] batgau71 opened #23 "QR code to $GET url"
Hi,

What i would like to do is to directly follow an url after scannig a qrcode :

ex : https://www.mydomain.com/page.html?qrcode=codejustscanned

What kind of changes I have to do in your script to do that ?

Thank you very much,

[2017-04-22 04:33] gokulkrishh commented on #22
@korrio It worked on both for me. You can test it let us know if there is any issue.

[2017-04-22 04:35] gokulkrishh commented on #23
Hi @batgau71,

you will get the result in [main.js](https://github.com/code-kotis/barcode-scanner/blob/master/app/js/main.js#L68) line no 68. All you have to do is open your desired url using `window.open` with scanned code.

Hope this answers your question. Thanks

[2017-04-22 05:02] b-gauthier commented on #23
Perfect ! Thank you ! ;)

[2017-04-22 05:29] gokulkrishh commented on #23
@batgau71 Cool 👍

[2017-04-22 05:29] #23 closed

[2017-04-22 12:18] winnable commented on #18
hey, I am still getting this error when running command "npm run start"

pi@webhawk:/var/www/html/barcode-scanner $ npm run start

sh: 1: webpack-dev-server: not found

npm ERR! barcodeScanner@2.0.0 start: `webpack-dev-server --hot --inline
--open`
npm ERR! Exit status 127
npm ERR!
npm ERR! Failed at the barcodeScanner@2.0.0 start script.
npm ERR! This is most likely a problem with the barcodeScan

[2017-04-22 15:25] gokulkrishh commented on #18
error is `sh: 1: webpack-dev-server: not found`. Is your npm installation worked ?? Try installing the packages again and try

[2017-04-25 17:02] winnable commented on #18
@gokulkrishh <https://github.com/gokulkrishh> thanks for your reply. I am
again getting below error while npm run build. Please let me know if this
is okay or I have to re-compile.

pi@webhawk:/var/www/html/tasty/barcode-scanner $ npm run start

loader option has been deprecated - replace with "use"
Project is running at http://localhost:8081/
webpack output is served from /
Content not from webpa

[2017-04-26 03:12] gokulkrishh commented on #18
Hi @winnable, did you tried the url `http://localhost:8081/` to check if the webpack dev server is running or not. Not sure what is the error exactly. I will check it out

[2017-04-26 08:12] winnable commented on #18
@gokulkrishh yes i have tested and page is unreachable. Not able to fetch.

[2017-04-26 12:15] afcf23 commented on #21
@gokulkrishh Do you have a news for me?

Thanks

[2017-04-26 13:26] gokulkrishh commented on #21
@afcf23 Hey, ya i checked in windows 10 and all the npm and node path is set properly. Its works just fine for me.

[2017-05-07 12:33] ginoburrr opened #24 "Help on MVC5"
Hi, im having trouble getting this working in ASP.NET MVC5....

Has anyone else managed to get it working in MVC5??

Thanks

[2017-05-07 14:44] gokulkrishh commented on #24
@ginoburrr Yes the app will work with any framework. Its just a vanilla JS with a webworker file to decode the image and get qr code.

[2017-05-07 15:31] globophobe commented on #17
HTML Media Capture doesn't seem very useful for barcode scanning. It would be nice if Apple just supported getUserMedia.

[2017-05-08 04:01] gokulkrishh commented on #17
@globophobe I agree. Lets hope apple implements the `getUserMedia` API soon enough.

[2017-05-16 00:06] yousaid opened #25 "It is failing at STEP 4 --npm run build"
Environment : Windows Pro.
Node: 6.10.0

'NODE_ENV' is not recognized as an internal or external command,
operable program or batch file.
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! barcodeScanner@3.0.0 build: `NODE_ENV=production webpack -p --config we
bpack.config.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the barcodeScanner@3.0.0 build script 'NODE_ENV=production we
bpack -p

[2017-05-25 12:33] wuxiaobo2014 opened #26 "How do I use it in a static page?"
Without use node

[2017-05-25 13:01] gokulkrishh commented on #26
@wuxiaobo2014 Yes you can use it without node. Just copy the JS files and other files like images, css and other files like manifest etc and link it to index.html and add service worker if you want manually - follow this [demo-progressive-web-app](https://github.com/gokulkrishh/demo-progressive-web-app)

[2017-05-25 13:03] gokulkrishh commented on #8
@sunnysharma03 Now works in Edge as well. So closing this. If issue is still there. Feel free to reopen this issue.

[2017-05-25 13:03] #8 closed

[2017-05-25 13:03] gokulkrishh commented on #24
@ginoburrr Hope this answers you question. So closing it. Let me know if you need anything else. Thanks

[2017-05-25 13:03] #24 closed

[2017-05-25 13:04] gokulkrishh commented on #22
@korrio Let me know if you face any issue while scanning. Thanks

[2017-05-25 13:04] #22 closed

[2017-05-25 13:04] gokulkrishh commented on #20
@kibyOu Hey can you give some more info on this. Like which QR code you scanned and what was the issue?

[2017-05-25 13:05] gokulkrishh commented on #25
@yousaid Try to set the proper node `NODE_ENV`. It will work. So closing this issue. Let me know if couldn't do it.

[2017-05-25 13:05] #25 closed

[2017-05-25 13:06] gokulkrishh commented on #18
@winnable Not sure what is issue exaclty. Can you retry it and let me know

[2017-05-25 13:07] gokulkrishh commented on #17
@mobile1za Will add the camera API support once safari supports it. Thanks

[2017-05-25 13:07] #17 closed

[2017-05-25 13:07] gokulkrishh commented on #11
@TanQ10 I tested in windows. NODE_ENV should be set properly to make it work. Try to set it again. Thanks

[2017-05-25 13:07] #11 closed

[2017-05-25 13:09] gokulkrishh commented on #16
@nagesh1988 Its working now. Updated the app. You will be able to scan now. Thanks

[2017-05-25 13:09] #16 closed

[2017-05-25 13:10] gokulkrishh commented on #15
@nvbigben I guess the issue with the node or npm installation in your system. Try to install node again and try it. Thanks

[2017-05-25 13:10] #15 closed

[2017-05-25 13:11] gokulkrishh commented on #10
@silverAndroid Issue is fixed. If you use the latest chrome it will work. Thanks

[2017-05-25 13:11] #10 closed

[2017-05-25 13:12] gokulkrishh commented on #21
@afcf23 Try to set up the node and npm path properly. It will work. Feel free to reopen if you have issue again. Thanks

[2017-05-25 13:12] #21 closed

[2017-05-29 17:11] winnable commented on #18
I already tried, but still not able to resolve :(

On Thu, May 25, 2017 at 6:36 PM, Gokulakrishnan Kalaikovan <
notifications@github.com> wrote:

[2017-06-01 12:51] sparksofire commented on #26
I am sorry for so long did not reply to you, I immediately try your program！And I am sorry for my poor English.

[2017-06-01 13:01] gokulkrishh commented on #26
@wuxiaobo2014 Cool no issues 👍

[2017-06-01 13:02] sparksofire commented on #26
Thanks for your comment,but I only want have a static page that have none server program and can scanner bacode and can use on part of Android equipment.

[2017-06-01 13:05] gokulkrishh commented on #26
@wuxiaobo2014 Understood. You can use the https://rawgit.com/. RawGit serves raw files directly from GitHub with proper Content-Type headers.

[Demo](https://cdn.rawgit.com/code-kotis/barcode-scanner/gh-pages/index.html)

[2017-06-01 13:06] gokulkrishh commented on #26
@wuxiaobo2014 Also barcode-scanner is static site which doesnt involve any server expect to server the files via domain.

[2017-06-01 13:06] sparksofire commented on #26
Ok!Thanks every much!

[2017-06-01 13:08] gokulkrishh commented on #26
@wuxiaobo2014 I assume this fixes your issue. So closing this issue. Let me know if you need anything. Thanks

[2017-06-01 13:08] #26 closed

[2017-06-02 11:29] ravimca49 opened #27 "Not Scanning the QR code just shows the open and close buttons"
i seen the demo web site  https://qrcodescan.in/
but i downloaded the code from the github .

i didn't seen the exact functionality.

i hosted your code in https://gunturstores.tk/bar/

Please check it

![image](https://cloud.githubusercontent.com/assets/6623815/26723985/b408289a-47b4-11e7-910c-17be53e7c965.png)

it shows like that

Please fix this issue as soon as possible.

I want the exact func

[2017-06-02 17:16] gokulkrishh commented on #27
@ravimca49 I dont' see any `script files` or `stylesheet` from qrcodescan.in and you can check `gh-pages` branch for `js` & `css` files. Add accordingly it will work. Closing it as its not an issue.

[2017-06-02 17:16] #27 closed

[2017-06-03 05:42] ravimca49 commented on #27
@gokulkrishh  Thank you so much. Yesterday i downloaded the master branch.
so it is not worked for me. As you said i downloaded the gh-pages now it's working fine in mobile device.
But in my Desktop showing the blank page. can you help me .what  is the problem.
Link is https://gunturstores.tk/finalq/

Thanks in advance.

[2017-06-03 06:00] gokulkrishh commented on #27
@ravimca49 hi cool. Hey it's working fine for me in desktop. Clear your cache or check if you have blocked the camera permission or not. I think that's the issue.

[2017-06-03 06:30] ravimca49 commented on #27
@gokulkrishh Thank you so much for helping me.
now i cleared the cache in browser it's working perfect.

[2017-06-03 06:53] ravimca49 commented on #27
@gokulkrishh , This my Final Doubt Please clarify me.
I want to pass the decoded qrcode to another page in php, here i want do some functionality.
My doubt is How to stop showing the alert box after qrcode scans ?
Which event occurs to get the decoded qrcode data like this
`var decoded_data= $('#result').val();`

Please guide me.
Thanks in advance

[2017-06-03 10:41] ravimca49 opened #28 "How to Alert the QR Code data instead of showing the Dialog pop up"
Hi,
I want to pass the decoded qrcode to another page in php, here i want do some functionality.

I tried this way
`<div class="app__dialog app__dialog--hide">
          <div class="app__dialog-content">
            <h5>QR Code</h5>
            <input type="text" id="result"  onchange="display();">
          </div>
          <div class="app__dialog-actions">
            <button type="button" class

[2017-06-03 15:19] gokulkrishh commented on #28
@ravimca49 This is where you will get the scanned QR code result [line 81](https://github.com/code-kotis/barcode-scanner/blob/master/app/js/main.js#L81). You can do what ever you want from here. Either to show a alert or dialog.

[2017-06-03 15:21] gokulkrishh commented on #18
@winnable Hey, I am sorry I dont own a **RPi** to verify this issue. Pls post it in the stack overflow. You might get an answer. But if the local server is running msg is shown in the terminal. You should be able to access the server in the given URL. Not sure what is the issue exactly here.

[2017-06-05 05:04] ravimca49 commented on #28
@gokulkrishh But i am not using the master branch code. I am using only **gh-pages** branch code.
Here there is no **main.js** file. Here **bundle.js** file is available.

[2017-06-05 05:59] gokulkrishh commented on #28
@ravimca49 then bundle the application. Follow the master README.

[2017-06-05 06:55] ravimca49 commented on #28
@gokulkrishh  ok i will try.
But i failed in the first time because i am new to node js.

Thank you so much for clearing all my doubts

[2017-06-05 09:50] gokulkrishh commented on #28
@ravimca49 👍

[2017-06-15 12:49] anundinesh commented on #20
I have used "code 39" barcodes, it is not scanning them.

[2017-06-15 15:50] mobile1za commented on #17
It seems that support for the getUserMedia API is supported in preview as of 10 days ago. See https://w3c.github.io/mediacapture-main/

Does this mean it can be used now for this project?

[2017-06-15 15:53] gokulkrishh commented on #17
@mobile1za Yes. Thats right. Have to wait for it to reach stable version (But i am planning to implement it soon). PR's are also welcome ;)

[2017-06-15 16:08] gokulkrishh commented on #20
@anundinesh Can you post some samples ??

[2017-06-16 06:06] anundinesh commented on #20
go to this https://racoindustries.com/barcodegenerator/1d/code-39/
generate a barcode with this "AT09A00001" and check.

[2017-06-16 06:16] gokulkrishh commented on #20
@anundinesh Yes its not working. I have tried couple of other barcodes. None of them worked.

[2017-06-16 07:12] anundinesh commented on #20
@gokulkrishh do you have any solution for it?

[2017-06-16 15:03] gokulkrishh commented on #20
@anundinesh Only solution is to change the decoder I use for decoding image to get code. I will look into it.

[2017-06-19 06:51] mobile1za commented on #17
Great news! Can it be implemented before it reaches a stable version and does it have to be a stable version before it is released? How long does it usually take before it reaches a stable release?

[2017-06-19 07:49] gokulkrishh commented on #17
@mobile1za Right now its in [safari 11 technology preview](https://developer.apple.com/safari/download/) which required `High Seirra` which in beta now. I will wait for it reach the stable `High Seirra`

[2017-06-21 17:12] DannyWu2018 opened #29 "i can not use "npm run build" or "npm run "npm run deploy""
hi.
i click "npm run start" is ok, but npm run build , out error...
npm ERR!     NODE_ENV=production webpack -p --config webpack.config.js
npm ERR! You can get information on how to open an issue for this project with:
npm ERR!     npm bugs barcodeScanner
npm ERR! Or if that isn't available, you can get their info via:
npm ERR!     npm owner ls barcodeScanner
npm ERR! There is likely additional lo

[2017-06-22 05:06] gokulkrishh commented on #29
@DannyWu2018 `NODE_ENV` is not working in windows. Have to change it to [cross-env](https://www.npmjs.com/package/cross-env) module to work everywhere.

[2017-06-22 15:52] gokulkrishh commented on #29
@DannyWu2018 I have added `cross-env`. Can you check it and let me know ?

[2017-06-24 06:08] gokulkrishh commented on #28
@ravimca49 Hope my answer resolved your questions. Closing this issue now. Thanks

[2017-06-24 06:08] #28 closed

[2017-06-27 21:03] mihajlon97 opened #30 "No sw.js file loaded on our server - IOS Devices Run Issue"
We are trying to install your QRcode scanner, and succeed by Chrome and IE. Safari gives an error.

Here is your https://qrcodescan.in/ inspected scanner.
![original](https://user-images.githubusercontent.com/23645296/27609391-e5aaebd2-5b8a-11e7-9b79-0b1930a0d726.png)
And so work good on IOS :
![whatsapp image 2017-06-27 at 21 22 54](https://user-images.githubusercontent.com/23645296/27609462-2189

[2017-06-28 06:13] gokulkrishh commented on #30
@mihajlon97 `Service Workers` is not supported in iOS devices (safari, chrome etc,). More info [Webkit Status](https://webkit.org/status/#?search=service%20workers). But i have written code to upload or take picture and scan the QR code in iOS devices.

[2017-07-21 07:56] taisun32 opened #31 "https://qrcodescan.in/"

[2017-07-21 08:14] gokulkrishh commented on #31
@taisun32 Whats the issue ???

[2017-07-21 08:20] taisun32 opened #32 "https://qrcodescan.in/"

[2017-07-21 17:42] #31 closed

[2017-07-21 17:42] #32 closed

[2017-08-10 19:45] flaviomacias18 opened #33 "Unable to open the camera, provide permission to access the camera"
Hi.

I can not run the app on my phone.

The message "Unable to open the camera, provide permission to access the camera" appears.

How do I give permission on my cell phone?

[2017-08-18 03:12] gokulkrishh commented on #33
@flaviomacias18 Clear cache your [qrcodescan](qrcodescan.in) site. And give it try

[2017-08-18 13:05] flaviomacias18 commented on #33
@gokulkrishh The problem is HTTPS. I was running on the HTTP server. Tks.

[2017-08-19 03:41] gokulkrishh commented on #33
@flaviomacias18 Site will automatically redirect from **http** to **https**. Good to know 👍. Closing the issue now. Thanks

[2017-08-19 03:41] #33 closed

[2017-09-21 23:45] blairanderson opened #35 "Possible optional decoder for UPC"
I am looking for a decent web-app that will scan UPC barcodes but this only reads QR codes.

Possible to allow hooks for different kinds of parsers like https://serratus.github.io/quaggaJS/examples/static_images.html

[2017-09-21 23:46] blairanderson commented on #35
label [feature request]

[2017-10-04 09:11] gokulkrishh commented on #35
@blairanderson Sure will check on that. Thanks for suggesting the js library.

[2017-10-04 15:58] blairanderson commented on #35
If you provide hooks or adapters then I will figure out the implementation.

Blair

[2017-10-16 01:47] heroBack commented on #35
it can not use at Mobile phone browser

[2017-10-24 08:25] mobile1za commented on #17
I see that "Media Capture and Streams" is now Supported as per https://webkit.org/status/#specification-webrtc. Will you be making changes so this works on iOS without the need to take a photo now?

[2017-10-28 02:00] Shuliyey opened #36 "How to get it working on Iphone using Cordova"
Hi

Thanks for coming up with this great code.

I've been trying to get this packaged using cordova on android/iphone.

I managed to get it working perfectly on android

![wechatimg20](https://user-images.githubusercontent.com/4773348/32130175-f05ca480-bbde-11e7-8098-4d910cfa2fd9.jpeg)

However on iphone it's experiencing difficulties (i understand iphone might work a little differently to android

[2017-10-28 11:05] gokulkrishh commented on #17
@mobile1za I will make the changes and will release the latest one soon. Thanks.

[2017-10-28 11:06] gokulkrishh commented on #36
@Shuliyey Thanks for creating an issue for this. Safari didn't had [Media Capture and Streams](https://webkit.org/blog/7726/announcing-webrtc-and-media-capture/)  API support before, so taking picture and scanning it was the only way in iOS. I think it is supported now only in safari technology preview. I will add the similar behaviour like android once it is added to stable version (fallback as c

[2017-10-28 23:01] Shuliyey commented on #36
Thanks @gokulkrishh, nice exciting WebRTC support news in webkit. Just to confirm, when i take photoes and press use photoes in `ios` is it expected to work the same way as `android`, in my case i can see the scan picture, but system does not seem to recognise the qr code

<dl>
  <img src="https://user-images.githubusercontent.com/4773348/32130216-af22cdea-bbdf-11e7-9bbe-06efd71bb2ce.jpeg" width="

[2017-10-29 16:45] gokulkrishh commented on #36
@Shuliyey I agree it misses some qrcodes. Try taking it closeby. We have to wait till safari supports webRTC to add support similar to android. Thanks for feedback 👍

[2017-12-26 11:56] prasunsultania opened #37 "Scan barcode formats supported by http://zbar.sourceforge.net/ such as code128"
why does the library supports only QR code despite the underlying library supports other formats as well ?

[2018-01-03 16:45] APdevelopments opened #38 "How to use from .zip file"
HI,

Is it possible to use this in some projects? How can I simply upload all css, js files and try in the browser? Is that possible?

[2018-01-04 05:14] gokulkrishh commented on #38
@APdevelopments Hey yes it is possible. Go to this branch [https://github.com/code-kotis/barcode-scanner/tree/gh-pages](https://github.com/code-kotis/barcode-scanner/tree/gh-pages) and download and upload. This branch contains css, js code like you asked.

[2018-01-04 05:15] gokulkrishh commented on #37
@prasunsultania I am using a basic QR Code scanner. Yes like you said updating the library will support other codes as well. I will try to update. Thanks for the feeback

[2018-01-04 06:17] APdevelopments commented on #38
I try but won't work in the browser... I get just white screen

  https://www.screencast.com/t/IjmokMiFwcx7

[2018-01-04 12:52] didikurnia opened #39 "how to make scan continues without refresing the page.."
hello, can u help me to make this scan qrcode continously without refresh ?

i try to call the scan(); after app_dialog close. its not working...

[2018-01-11 18:35] tedcampos commented on #38
the downloaded zip files are MISSING 2 files ++ a few lines of code.. UGH>>>

edit (index.html)
you must add: `<link href="bundle.css" rel="stylesheet">` to the header
and add: `<script type="text/javascript" src="bundle.js"></script>` just before the /body tag

also you must get these files (which were not included)
[https://qrcodescan.in/bundle.css](url)
[https://qrcodescan.in/bundle.js](url)

A

[2018-01-11 19:43] APdevelopments commented on #38
Can you please make jsfiddle

[2018-01-12 03:56] gokulkrishh commented on #38
@APdevelopments You have to run in `local server` instead of opening the html file in browser.

[2018-02-01 02:59] razorsoup opened #40 "Uses front camera instead of rear"
LG G6, Android 7.0, Chrome 64.0.3282.137

Front camera is used instead of the rear camera with no apparent way to swap it. This seems to possibly be a regression of issue #10.

[2018-02-01 04:08] gokulkrishh commented on #40
@razorsoup Hmm. I will take a look into this. Thanks for reporting!

[2018-02-08 11:52] jeraldtc opened #41 "Cannot install in Linux?"
Hi! Trying to run this on Linux and I encountered the following error on `npm run start`

/barcode-scanner/node_modules/webpack-dev-server/bin/webpack-dev-server.js:4
const path = require("path");
^^^^^
SyntaxError: Use of const in strict mode.
    at Module._compile (module.js:439:25)
    at Object.Module._extensions..js (module.js:474:10)
    at Module.load (module.js:356:32)
    at Function.Mod

[2018-02-08 13:25] gokulkrishh commented on #41
@jeraldtc Hey can you check your node version, whether its stable one or not. Also i found some stackoverflow post on this, try following this and see if it solves your issue - https://stackoverflow.com/questions/36789889/syntaxerror-use-of-const-in-strict-mode

Thanks for reporting!!

[2018-02-08 14:38] jeraldtc commented on #41
Cannot update the node right now as there are other projects which still uses the same version. But I would probably install it on another server to test. Will update here if ever I get to setup a new server. Thanks!

[2018-02-08 15:10] gokulkrishh commented on #41
@jeraldtc Sure 👍

[2018-03-22 06:27] zuohuadong opened #42 "support typescript"
When is typescript supported?

[2018-03-28 15:17] KrasnayaPloshchad opened #43 "Website offline"
I can’t access your website, please fix it.

[2018-03-28 16:18] timvisee commented on #43
For me the website is reachable (and working).
Maybe it was temporarily offline, or you might have other personal networking issues.

I think this issue may be closed.

[2018-03-29 04:28] gokulkrishh commented on #43
@KrasnayaPloshchad There is a issue with domain address. I will try to fix it soon. Thanks for reporting and @timvisee 👍

[2018-03-29 06:15] gokulkrishh commented on #43
@KrasnayaPloshchad @timvisee Issue got fixed. So closing the PR. THanks 👍

[2018-03-29 06:15] #43 closed

[2018-04-04 17:35] GokulDharumar commented on #37
@gokulkrishh Any updates on other barcode types esp code 39

[2018-04-07 04:01] CharlesOkwuagwu commented on #22
@gokulkrishh Please which type of bar-codes were you able to scan?

[2018-04-08 05:38] gokulkrishh commented on #22
@CharlesOkwuagwu It works with QR Code only. Library i am using support only QR Code.

[2018-04-08 09:30] CharlesOkwuagwu commented on #22
@gokulkrishh
I am able to scan both barcodes and QR-codes using this: https://gist.github.com/jazzido/9435670 which is base on https://github.com/yurydelendik/zbarjs, also derived from  `ZBar`

[2018-04-15 08:22] KrasnayaPloshchad opened #44 "Support SPARQCode"
SPARQCode is a matrix code encoding standard based on QR Code, including a convention for E-mail, Phone Number, WiFi and so on. The QR Code Scanner can show the detailed information in the dialog while got it, not just as plain text.
See: https://en.wikipedia.org/wiki/SPARQCode

[2018-04-16 06:49] KrasnayaPloshchad commented on #44
The following sites can produce QR codes with SPARQCode:
http://goqr.me/
https://www.the-qrcode-generator.com/
http://protocoder.ru/firefox/Ultimate_QR_Generator

[2018-05-29 10:03] gokulkrishh commented on #42
@zuohuadong Hi, Thanks for suggesting. This barcode scanner itself is very small app. Not sure we will ever support typescript. But feel free to fork and play with it 👍

[2018-05-29 10:03] #42 closed

[2018-05-31 18:25] alextappin commented on #30
Hi,

Any update on mediaCaptureStream for IOS? https://www.w3.org/TR/mediacapture-streams/

It looks like IOS now supports this. Any idea if this is possible to get working?

Also, looks like that link to the service workers is now supported.

[2018-05-31 23:39] mangabr opened #46 "In IOS dont work"
Hi, i try to test live demo in IOS device and it dont work.
I managed to hit the photo and it appeared on the page, but did not occur scnner of the qrcode.

Iphone 5
IOS 11.4
Safari

[2018-06-01 03:33] gokulkrishh commented on #30
@alextappin Yes we are working on adding support of media capture steam API in safari. There is some bug in showing the back camera via API. We will include it soon. Watch this issue for future info's.

[2018-06-01 03:35] gokulkrishh commented on #46
@mangabr Okay thanks for reporting. We will look in the issue and try to fix it soon.

[2018-06-01 03:36] gokulkrishh commented on #44
@KrasnayaPloshchad I hear you. We will look into the above links and figure out on this. Thanks for letting us know.

[2018-06-01 03:37] gokulkrishh commented on #41
@jeraldtc Since this is related to node version you are using. So closing this issue. Feel free to re-open if the issue exists again. Thanks

[2018-06-01 03:37] #41 closed

[2018-06-01 03:38] gokulkrishh commented on #39
@didikurnia Not sure why it is not working for you. I tested this scenario and its working fine for me. Give us some more inputs on how to re-produce this. Thanks

[2018-06-01 03:40] gokulkrishh commented on #29
@DannyWu2018 I have tested it in linux and windows. Its working fine with cross-env. Hence closing this issue. Thanks for reporting.

[2018-06-01 03:40] #29 closed

[2018-06-01 03:41] gokulkrishh commented on #18
@winnable We cannot proceed further on this issue. As this app is intended to work in the mobile, desktop and tablet devices. So closing this issue. Thanks for reporting.

[2018-06-01 03:41] #18 closed

[2018-06-01 10:35] gokulkrishh commented on #30
@alextappin I tested the [qrcodescan](qrcodescan.in) app using media stream API. There are some issues with safari which prevents us from proceed further. Mentioning the issues below.

1. Not able show video stream without a small hack.
2. After adding the app to add to home screen, and opening it doesn't show video stream at all. This is another bug in safari. We will follow up with bugs to see i

[2018-06-01 15:58] alextappin commented on #30
Thank you. I will be watching this project for updates.

[2018-06-09 17:22] lucasverra commented on #46
same on 11.4 for `iphone SE`

[2018-06-19 09:06] NickHatBoecker commented on #46
No scanner at all. Have to click "Select from photo" then it displays the photo and the scannerline but no result is found.

iPhone SE, iOS 11.4 in Safari. Hope this helps. Really like the project!

[2018-06-19 09:44] gokulkrishh commented on #46
@theskyliner Yes. There is media stream API similar to chrome in android now but there are some bugs which prevents us to implement. Watch this space for more updates. Thanks

[2018-06-20 09:29] vaibhav16 opened #47 "It just doesn't install"
Have tried several times to install this. I've no idea where I'm going wrong.
I just basically extract the zip file and run "npm install" in the root folder.
The command works fine for a while for a while, but soon errors start popping. I believe there is some issue with the @angular/cli.

**Stack Trace:**
`> node-sass@3.13.1 install C:\workspace\New folder\barcode-scanner-works\node_modules\node-

[2018-06-20 10:44] gokulkrishh commented on #47
@vaibhav16 Hi, are you trying the app in windows os ??. If so what is your `npm, node version` and try removing your node_modules folder and try re-installing your npm modules.

[2018-06-20 10:55] vaibhav16 commented on #47
Thanks for the response @gokulkrishh
I'm using it on Windows 10.
Angular CLI: 6.0.8
Node: 8.11.1

Let me try installing again, though it has failed several times in the past.

[2018-06-20 11:42] vaibhav16 commented on #47
The install failed again.

[2018-06-20 16:32] gokulkrishh commented on #47
@vaibhav16 Thanks for replying back. I see. Probably issue is related to node-sass. Try removing sass files for now and see basic ui is coming up for you.

[2018-06-24 16:07] Shneory opened #48 "Try it on local machine"
Hi,
I downloaded the zip file, and open it.
i'm open the folder "app" and click on the file "index.html"
and the page open without the camera.
Can you help me with it, please?

Another thing, i want to use this code, are i need a special tools or i can edit it with notepad++?
Thanks

[2018-06-25 03:04] gokulkrishh commented on #48
@Shneory App wont work unless you build it and use a local server. App is not a static page. Closing this issue. Hope this clarifies your doubt.

[2018-06-25 03:04] #48 closed

[2018-06-25 04:40] patrickpei commented on #46
What bugs? Happy to send a PR 😃

[2018-06-25 05:16] gokulkrishh commented on #46
@patrickpei That would be great 👍

Issues I found

1. media stream API wont work unless you have give a specific constraint for `mediaDevices.getUserMedia` API. Ref - https://github.com/gokulkrishh/tensorflow-find-object/blob/master/src/App.js#L64

2. After adding the app to home screen. Camera API is not working.

See if you can find a fix for these then we can add this API to the APP. Thanks aga

[2018-06-25 08:13] Shneory commented on #48
Thank You for the answer.
I want to use the code only on the client side. I success to take the files "bundle.js" etc from the website, and its work for me. But I want to do some changes. Like, I want to start the camera with a button, and stop it when the decoder succeeded to decode the qr code.
What is the easy way to do that?

[2018-06-25 08:20] gokulkrishh commented on #48
@Shneory Yes it is easy to do it. I have some methods to call scanning and all. Go through the code you will understand.

[2018-06-27 07:27] Shneory commented on #48
Hi, I'm trying so much to build the code in node.js but its not working.
Did you have this code in version of fronted java script (in the client side), but not bundled, so i will can use it. or giving me more details how to building the code?

[2018-06-27 10:30] gokulkrishh commented on #48
@Shneory What is the issue you are getting in NodeJS ??? Its working fine and details are given in readme file. Just a few commands nothing much.

[2018-06-28 12:25] Shneory commented on #38
Hi, i'm succeeded to run it with a local server.
But how to make it work offline?
And why the file "bundle.js" in the site https://qrcodescan.in/ is only 5.5KB, and in localhost is 734KB?

[2018-07-10 14:31] laoal11 opened #50 "Scanner does not work with Chromeversion 67.0.3396.87"
The scanner does not seem to work anymore with the latest GoogleChromeupdate.
All you get is the following warning:
Invalid asm.js: Expected shift of word size decoder.min.js:43894
Invalid asm.js: Expected shift of word size

For me, on my desktop Chrome version, all it shows is a black screen with the green bar going up and down.

[2018-07-10 16:42] gokulkrishh commented on #50
@laoal11 Hey i am also using chrome v67 (In Mac) its working fine for me.

Like you said `Invalid asm.js: Expected shift of word size decoder.min.js:43894` - its a warning.

Trying clearing all the cache in application tab of chrome devTools. Let me know if it solve's your issue.

[2018-07-11 08:13] laoal11 commented on #50
Unfortunately it did not help. I am using Windows if that matters.

Ironically, the scanner works on my Samsung Galaxy XCover 3 on Chrome version 67.0.3396.87 on Android 6.0.1

[2018-07-11 08:41] gokulkrishh commented on #50
@laoal11 Yep it does matters (Windows). Unfortunately i don't own a windows system. Would be great if I get some help from @hemanth or @shidhincr to figure this issue + to solve this https://github.com/code-kotis/barcode-scanner/pull/49

[2018-07-11 11:01] laoal11 commented on #50
I can test the app on my own Mac later today, I'll post an update then.

Update: The website works on my Mac on Chrome and Safari, both run on the latest version, weird.

[2018-07-12 15:12] jeanpablojp opened #51 "Problem Code Igniter 3X"
All is working 100% from the examples but when i try to open the same code from a codeigniter project the camera opens OK, but the QRcode cant be found, i point to the QRCode but the javascripts dont fill the input.
Any suggestions?
I'm out of ideas anymore.
Thanks.

[2018-07-13 03:12] gokulkrishh commented on #51
@jeanpablojp I m not sure what is the issue here. Try debugging and see if the scan method is called and web worker file is loaded or not.

[2018-07-13 05:16] gokulkrishh commented on #51
@jeanpablojp This is not related to Barcode Scanner. Hence closing this issue. Pls take a look into code ignitor and fix this issue. Thanks for reporting.

[2018-07-13 05:16] #51 closed

[2018-07-21 16:07] gokulkrishh commented on #46
@theskyliner @mangabr @lucasverra I have created a PR to address the scanning feature in iOS devices.

PR Link: https://github.com/code-kotis/barcode-scanner/pull/52. Just FYI guys. Since this is most asked feature for this app. Will close the issue once PR got merged.

[2018-07-21 16:08] gokulkrishh commented on #30
@alextappin @mihajlon97

Added the support for scanning the picture in iOS devices using mediaSteam API. But it has some limitations. Explained more in the PR

PR Link: https://github.com/code-kotis/barcode-scanner/pull/52. Just FYI guys. Since this is most asked feature for this app. Will close the issue once PR got merged.

[2018-07-21 16:10] gokulkrishh commented on #40
@razorsoup I checked. It seems like App is working on all the chrome version. Not sure why it didnt work for you. Closing this issue. Thanks for reporting.

[2018-07-21 16:10] #40 closed

[2018-07-23 09:10] laoal11 commented on #50
Update: Meanwhile it looks like this
https://imgur.com/a/HaJ9t1h

Using Version 67.0.3396.87 still, I don't recall changing anything in my Chrome settings.

[2018-07-23 12:46] gokulkrishh commented on #50
@laoal11 Thanks for testing it out. I tested in mac its working. Not sure why it is not working now. I didnt change the behaviour of it. Just added a fab button to take it from picture. I will check it out again. Need some test in iphones otherwise app is good to go.

[2018-07-23 20:30] laoal11 commented on #50
If you want I can test it on my iPhone 8. iOS and safari + chrome on latest versions.

[2018-07-24 01:36] Batur24 commented on #36
@Shuliyey how do you make it work on cordova/android, could you show the code? Thanks!

[2018-07-24 04:30] gokulkrishh commented on #50
@laoal11 That would be a great help. Pls keep us posted on the results. Thanks 👍

[2018-07-25 11:13] clinis commented on #40
I too have this problem. Already tried clearing application storage in Chrome and uninstalling the app.

LG G6, Android 8.0.0, Chrome version 67.0.3396.87, QR Scanner version 61

[2018-07-25 13:09] gokulkrishh commented on #40
@clinis I see. I dont have LG g6 to test. If you guys have time pls let us know what's the issue. I checked in my android phone. Its working for me. See if it works for v68

[2018-07-27 14:41] liuxin521 opened #53 "局域网除了Firefox其他游览器无法运行"
将项目的地址localhost换成电脑的ip后，访问不了，调用不了摄像头

[2018-07-28 04:08] gokulkrishh commented on #53
@liuxin521 English pls.

[2018-08-12 06:16] gokulkrishh commented on #46
Closing in favour of #52

[2018-08-12 06:16] #46 closed

[2018-08-12 06:17] gokulkrishh commented on #30
Closing in favour of #52

[2018-08-12 06:17] #30 closed

[2018-08-12 06:17] gokulkrishh commented on #47
Closing this issue as its not related to the app. But related to npm module.

[2018-08-12 06:17] #47 closed

[2018-08-12 06:18] gokulkrishh commented on #53
@liuxin521 Closing this issue as its not understandable + no activity too

[2018-08-12 06:18] #53 closed

[2018-08-12 06:18] gokulkrishh commented on #39
closing this as its I am not able to reproduce.

[2018-08-12 06:19] gokulkrishh commented on #36
Closing in favour of #52

[2018-08-12 06:19] gokulkrishh commented on #50
Closing in favour of #52

[2018-08-12 06:19] gokulkrishh commented on #38
Closing in favour of #52 and this is not a bug

[2018-09-04 18:44] ramoooi opened #55 "install it on website"
how can i install it on a website html/php without shell access?

[2018-09-11 15:29] elbazar opened #56 "Error in install"
We have attempted to install the script several times. However, each time we have encountered the following error message.

"Error: pngquant failed to build, make sure that libpng-dev is installed"

Confirm that the mentioned node module is installed on the server. We have tested the installation via several different Node JS and NPM versions but each time the outcome was the same.
Can you tell me

[2018-10-09 08:47] leroibeukes commented on #37
EAN 13 would be good ...

[2018-10-16 16:00] tag8ashok opened #59 "Any way to stop QrReader.init() method"
Basically like to start and stop.(Toggle Button) After Scan i try again to call the same method but on the second try it isnt  working

[2018-10-17 01:48] gokulkrishh commented on #59
@tag8ashok Could you explain more about exactly what you did ?

[2018-10-17 04:39] tag8ashok commented on #59
I created a button called scan which called a function which contains the statement QrReader.init() that working properly on the close button i m trying to get back to page containing the scan button on clicking scan again the scanner element is visible but unable to scan any  QR. I have checked using breakpoints its reaching upto line 91 containing the scan and unable to execute further.

[2018-10-17 05:14] gokulkrishh commented on #59
@tag8ashok Seems like you are trying to do something specific. Pls go through code again and understand how scan is happening and do it. Closing this as its not an issue.

[2018-10-17 05:14] #59 closed

[2018-10-19 08:12] DeanWilliamMills opened #60 "Support for PDF417"
I tried scanning a PDF417 barcode, but it's not scanning the barcode. Will it be possible to add PDF417 format?

[2018-10-20 02:41] AshokNaik009 opened #61 "Unable to deploy on Heroku"
What  changes need to be made in order to deploy this application on heroku

[2018-10-20 03:09] gokulkrishh commented on #61
@AshokNaik009 What are the steps you followed. All you need to do it `npm run build` and it will give you build folder. Move it to `heroku` or any deployment service.

[2018-10-20 03:10] gokulkrishh commented on #60
@DeanWilliamMills No. Its only a QR code scanner. I guess name of the repo is confusing for many people. I will change it to qrcode scanner.

If you want to support other formats pls fork and do the changes you required. THanks

[2018-10-20 03:10] #60 closed

[2018-10-20 04:39] AshokNaik009 commented on #61
First cloned this repo  then npm install and i also tried npm run build then
heroku git:clone -a qrpwa
 git add .
 git commit -am "make it better"
 git push heroku master.

[2018-10-21 15:27] gokulkrishh commented on #61
@AshokNaik009 Output build is in the `dist` folder. Its straight forward `npm install` -> `npm run build` and push the `dist folder` to heroku. Closing this. As its not a issue with app. Post your questions in stackoverflow to get help for heroku.

[2018-10-21 15:27] gokulkrishh commented on #56
@elbazar May i know the version of OS, node, npm you are using and tried ??

If you are using linux based OS, google the error msg to get help.

`"Error: pngquant failed to build, make sure that libpng-dev is installed"`

Compatible node version is specified in the pkg.json file. It works in both `windows & osx`. If you still have the issue post it in stack over flow.

Thanks!

[2018-10-21 15:30] gokulkrishh commented on #55
@ramoooi Pls open issue for app only. If you have any questions on `how to` post it in stackover flow. Thanks. Closing this as its not an issue with app.

[2018-10-21 15:30] #55 closed

[2018-10-21 15:32] gokulkrishh commented on #44
@KrasnayaPloshchad We have decided to keep it simple to support whatever qr code is we are supporting right now. If you want more, pls fork and do the changes.

We want keep it simple to showcase it as simple PWA. Hence closing this issue. Thanks!!

[2018-10-21 15:32] #44 closed

[2018-11-18 17:04] mechko opened #62 "iOS Camera Access when used as PWA"
Cool app with cool approach, thanks so far! I'm on iPhone 7 and iOS 12.1 and not sure if this is an issue, I've done  the following steps:

- opened https://qrcodescan.in/ in Safari
- app asked for Camera access, approved
- QR-Code Scanning works so far from Safari

- then I used the "Share Menu" at the bottom menu of Safari and selected "Add to home screen"
- the App was added to my home screen
-

[2018-11-19 01:59] gokulkrishh commented on #62
@mechko Thanks for reporting 👍in detailed way.

To answer your question..

- When launching the app from homescreen in iOS devices, app will be launching from webkit webview which doesn't support mediaStream API. Same goes for service worker.

We have to wait for apple to update the safari to allow camera access. Hence we added a 'plus photo icon' to manually scan the pics.

More: https://github.c

[2018-11-19 07:06] mechko commented on #62
Okay, I see. Thanks for the reply, lets hope Apple is adding this very soon.

[2018-11-19 07:06] #62 closed

[2018-11-21 09:31] ghost commented on #23
Hi @gokulkrishh. Thank you for making this wonderful program. This is one of the best working solution on the internet for QR scanning using browser.
Could you please help me to understand what changes do I make in the web version (gh-pages) main.201113f887d44acdfa77.bundle.js file to redirect to the scanned URL, instead of showing the popup/snackbar.

[2018-11-21 12:16] gokulkrishh commented on #23
@hvarora Thanks.

Source: https://github.com/code-kotis/qr-code-scanner/blob/master/app/js/main.js#L92

In above line, scan method we get the result. There you have to do changes required to open or redirect the result if its URL.

You have edit the source and build the app to make it work.

And `main.201113f887d44acdfa77.bundle.js` is compiled & minified version to make changes in this file would

[2018-11-26 17:00] TJHoekstra opened #63 "Different colors in QR code"
Hi,

The demo works fine when QR code is black with a white background. But for example white on a dark green background does not work. Tested on iOS 12.1 in Safari.

Is is possible to support other colors?

Thank you

[2018-11-27 02:51] gokulkrishh commented on #63
@TJHoekstra Not sure this is supports out of box or not. Need to check if we can support it. Will keep you posted on this. Thanks!!

[2018-12-14 02:55] mengxin-FE commented on #28
thanks a lot ，this point help me a lot ，just delete [line 76 ](https://github.com/code-kotis/qr-code-scanner/blob/master/app/js/main.js#L76)，dialog will disappear，and I can pass the result to another page。

I find , if QRCode image size is small , it hard to scan.

 in addition，could you please write more information about this project，I want to know it uses what blackmagic and how it works。sorry

[2018-12-21 11:02] Jaspur opened #64 "Make it a package?"
@gokulkrishh, can you make it a package so it can be used standalone?

[2018-12-21 11:11] gokulkrishh commented on #64
@Jaspur Hi, Thanks for suggesting. I think I am going to keep it as an App only for now. Feel free to fork and make changes as you wish.

[2018-12-21 11:11] #64 closed

[2019-01-10 02:17] meow1412 opened #65 "Do I need to install the pyhton environment for this project?"

[2019-01-10 02:17] meow1412 opened #66 "J"

[2019-01-10 02:19] #66 closed

[2019-01-10 06:10] gokulkrishh commented on #65
@meow1412 No this project doesn't require python.

[2019-01-10 06:10] #65 closed

[2019-01-10 06:11] gokulkrishh commented on #56
@elbazar Closing this PR. Feel free to re-open if you still have this issue

[2019-01-10 06:11] #56 closed

[2019-02-26 20:14] fransyozef opened #67 "Integrate with Angular/IONIC?"
Is it possible to use this in Angular / IONIC (PWA)?

[2019-02-27 01:32] gokulkrishh commented on #67
@fransyozef Yes. It is possible. Since its written in vanilla js :D. Feel free to fork and play with it.

[2019-02-27 09:20] fransyozef commented on #67
hmm .. you don't happen to have an example

[2019-02-27 10:19] gokulkrishh commented on #67
@fransyozef Sorry I dont have. Go through the code. Its simple.

Closing this issue. Feel free to reopen if needed

[2019-02-27 10:19] #67 closed

[2019-03-13 16:18] KrasnayaPloshchad commented on #63
There are several online QR code generators can produce QR codes with different colors, so you'll easy to get that if you want a test case.
https://www.qrcodes-generator.com/
https://www.qrcode-generator.ch/?lang=en

[2019-03-16 05:02] gokulkrishh commented on #63
@KrasnayaPloshchad Sure. Thanks. I will check. @TJHoekstra As of now planning to keep it this way. But PR's are welcome.

[2019-03-16 05:03] gokulkrishh commented on #63
Closing this. As for now planning to keep it simple pwa.

[2019-03-16 05:03] #63 closed

[2019-05-09 22:04] gheeenrique opened #68 "Install help please"
Hi, sorry for the question.
Is it possible to install on cpanel server?
I did the installation but I can not open the camera in the browser, and I also can not get mobile.
Follow URL: https://cupom.idelhost.com.br/qr-code-scanner-master/app/

[2019-05-11 13:47] gokulkrishh commented on #68
@gheeenrique Hey, sure. I check your URL.

Site is missing stylesheet as well [main.bundle.js](https://qrcodescan.in/main.201113f887d44acdfa77.bundle.js). Add this it will work. Hope this helps.

[2019-05-11 13:47] #68 closed

[2019-08-12 13:11] gokulkrishh commented on #37
@leroibeukes @GokulDharumar Thanks for asking. For now I am planning to keep it as simple qr code scanner. But feel free to fork and change however you see fit your need.

[2019-08-12 13:11] #37 closed

[2019-08-26 14:19] shah-pooja opened #69 "I am only able to access the front camera no options for rear camera"
Please provide me some solution regarding how to access the rear camera for reading the QR code. I have implemented this in PWA. It only opens in front camera.

[2019-08-26 14:24] shah-pooja commented on #69
Though I have upgraded my chrome version to the latest it is still not showing me the rear camera.

[2019-08-27 01:53] gokulkrishh commented on #69
@shah-pooja Try following this approach https://github.com/gokulkrishh/tensorflow-find-object/blob/master/src/App.js#L28

[2019-09-07 04:24] bilogic commented on #69
@gokulkrishh can you elaborate a little bit more? I also only see the front camera on my Samsung A50 running on Android PIE. Thank you.

[2019-09-07 16:25] gokulkrishh commented on #69
@bilogic I dont remember this works. As i dont own a android anymore. But try to implement the logic in above link from

Line no: https://github.com/gokulkrishh/tensorflow-find-object/blob/master/src/App.js#L39
To Line no: https://github.com/gokulkrishh/tensorflow-find-object/blob/master/src/App.js#L71

It should work.

[2019-09-07 16:25] gokulkrishh commented on #69
Feel free to reopen if needed.

[2019-09-07 16:25] #69 closed

[2019-09-17 11:56] shah-pooja opened #70 "resize the scanner div"
Hi. The preview available is too small to scan QR code. Can you please provide me help to resize the container to the proper size so scanning can be easily possible.

[2019-09-17 12:04] shah-pooja opened #71 "media device not found"
Is there any possibility to detect the media devices proactively or to show the message that QR code scanning cannot be supported on desktop. I am also facing issues while scanning the QR code with the webcam attached.
It gives me the following error:

_ERROR Error: Uncaught (in promise): NotFoundError: Requested device not found_
 _Error: Uncaught (in promise): OverconstrainedError: {}_

[2019-09-18 11:04] shah-pooja opened #72 "scanner not working in ios device"
Hi there. I am having problems using this package with ios devices. It does not work for google chrome in ios device at all. It works in safari but only accesses the camera that to camera gets stuck after allowing permission.

[2019-09-23 07:56] xiaxiao001 opened #73 "Please help me install"
Hello, I may need a complete example and documentation, I need to use it on the vue project.
However, I can't run it when I test it locally.

[2019-09-23 12:15] gokulkrishh commented on #73
@xiaxiao001 Instruction for how to run it is given in readme. It should work.

[2019-09-23 12:16] gokulkrishh commented on #72
@shah-pooja Hi, Google chrome in iOS is just a wrapper for webkit webview. Meaning it is version of safari which doesn't have access to camera. So you need the use [qrcodescan.in](qrcodescan.in) in safari app.

[2019-09-23 12:17] gokulkrishh commented on #72
Closing the issue!. Hope i have answered your question.

[2019-09-23 12:17] #72 closed

[2019-09-23 12:17] gokulkrishh commented on #71
@shah-pooja I am not sure how to help you here. I haven't tried it with web-cam. So need no idea on how to make it work with web cam.

[2019-09-23 12:18] gokulkrishh commented on #70
@shah-pooja Feel free to fork and do the modification however you like.  As it is OSS and under MIT  license.

[2019-09-23 12:18] #70 closed

[2019-09-26 01:14] anujaverma opened #74 "QR code scanning not working after adding to home screen"
I loaded the website qrcodescan.in in safari browser on iphone and the scanner worked perfectly. I then added the website to home screen. Now when I clicked on the icon on my home screen, the app opened up but the camera did not load. There was a button in the bottom that I used to open the camera but the camera did not end up scanning the QR code

Is scanning not supposed to work from home screen

[2019-09-26 01:58] gokulkrishh commented on #74
@anujaverma Hi, Yes issue is there even in iOS 13 because when you add to home screen its not longer safari instance of the browser but its a webkit webview from safari. Which doesn't have access to the camera API/ Hence we add a button to capture a pic and then use it for scanning.

So take a picture using the camera via the button and select use photo for scanning.

Closing this issue as its cur

[2019-09-26 01:58] #74 closed

[2019-09-27 14:48] shah-pooja opened #75 "proactively know about media devices"
How can we detect whether a media device is attached to the desktop or user has allowed for the permission to access camera?

[2019-10-02 11:07] odairdg opened #76 "PWA com problemas para Scanear"
Fiz um teste em um qrcode mas o pwa não está lendo.
Fiz o teste de leitura do mesmo qrcode em outros PWAS e APPS NATIVOS e deu certo a leitura.
Qual seria o erro?
![WhatsApp Image 2019-10-02 at 08 00 43](https://user-images.githubusercontent.com/35113128/66039604-b9f80f00-e4eb-11e9-916f-3a08875bf72a.jpeg)

[2019-10-21 23:43] BangKwn opened #77 "I want to open in the same tab"
HI, how can i open a url in the same tab?

[2019-10-22 01:46] gokulkrishh commented on #77
Hey @BangKwn Change this line according to your needs

https://github.com/code-kotis/qr-code-scanner/blob/master/app/js/main.js#L76.

Closing the issue. Do feel free to stackoverflow these questions.

[2019-10-22 01:46] #77 closed

[2019-10-29 12:35] mfulton26 opened #78 "iOS WebView workaround not working"
I see that for iOS I can take a video or photo using the camera as the live user media stream is not available in Chrome for iOS nor in the PWA one added to the home screen from Safari. This seems like a good workaround but I cannot get it to work with a static video or photo.

e.g. I tested on an apple juice bottle with a smartlabel QR code:

http://smartlabel.coca-colaproductfacts.com/servlet.Mi

[2019-11-06 15:11] ian367 opened #79 "How to send the result to a http request ?"
Hey there,
Is there a way to send the result of the scan to a specific http address ?
I can't find it.
Best regards

[2019-11-07 08:18] comatory opened #80 "iOS installed app doesn't use camera"
When on iOS in Safari, I get prompt to use camera and the app works fine. However when I add it to home screen I do no get the prompt and the screen just stays grey:

![IMG_E8276716818C-1](https://user-images.githubusercontent.com/5990424/68371591-5478ed00-013f-11ea-88cd-579b9ee0bd29.jpeg)

When I try to use the button in lower right to take the photo, it can't "scan" the QR code from the photo:

[2019-11-09 19:12] Vogod opened #81 "Do not detect colors?"
First of all, congratulations on the scanner and thanks for sharing.

I have created a QR code with colors and the reader does not read it. Can it be configured in any way?

If I try to read the code with the iPhone camera, it does recognize it.

I have done the test at https://www.qrcode-monkey.com. If I create a code in black on a white background, the scanner reads it. If I take, for example, y

[2019-11-19 09:17] daejong123 opened #82 "How can I use in wechat small program?"
Can you give me a guide?

[2019-11-19 13:54] gokulkrishh commented on #82
@daejong123 This is a web app, so if wechat small program supports javascript it should work. Feel free to fork and play around it to learn more.

[2019-11-19 13:54] #82 closed

[2019-11-25 23:07] yllihyseni commented on #69
qrscan.js

Replace:
https://github.com/code-kotis/qr-code-scanner/blob/98a0dd4af1b46cc9a32d1db9df048a6db62ecc6f/app/js/vendor/qrscan.js#L88

With:
`sourceId: device[device.length-1].deviceId ? device[device.length-1].deviceId : null`

[2019-12-22 18:19] ashishurfriend008 opened #83 "Unable to access camera on mobile browser while this application is deployed on Linux server"
Hi ,

Please be informed, while i access the public URL on mobile browser the camera could not able to detect while this application is deployed on Linux server.

Could you please help me how to deploy this application over Linux server and can able to access camera scanner on mobile devices.

Regards,
Ashish

[2020-01-03 13:49] rishinhr opened #84 "How can I host this on my server?"

[2020-01-03 15:51] gokulkrishh commented on #84
@rishinhr you can, it is OSS and MIT licensed. Hope I answered your Q.

[2020-01-03 15:51] #84 closed

[2020-01-14 08:02] iamsank8 commented on #67
Please make an Angular Example

[2020-01-14 12:49] gitbreaker222 commented on #81
Several years ago I worked with QR codes in University. At that time I've read somewhere, that QR-Code specification says, that the "pixels" and anchors have to be dark and the background light, but some scanners can read inverted QR codes, _because they internally invert the camera image_.

Some reference I just searched for: http://qrcode.meetheed.com/question2.php?s=s

So my suggestion to ensur

[2020-01-15 05:45] gokulkrishh commented on #81
@gitbreaker222 Good suggestion 👍 @Vogod Try gitbreaker suggestion and let us know.

[2020-01-16 08:38] supraservis opened #85 "Open URL after scanning"
Is it posibble to open URL in browser automatically after scanning without open/cancel dialog?

[2020-01-16 11:59] gokulkrishh commented on #85
Yes. Check this line for more https://github.com/code-kotis/qr-code-scanner/blob/master/app/js/main.js#L96.

Closing the issue. Feel free to re-open if needed

[2020-01-16 11:59] #85 closed

[2020-01-21 21:32] caesss commented on #80
same issue here, any updates?

[2020-01-22 01:39] gokulkrishh commented on #80
@caesss @comatory Keep a 👁 on this [bug tracker](https://bugs.webkit.org/show_bug.cgi?id=185448). Once webkit team resolves it. It will automatically work without any change.

[2020-01-30 02:44] DuskMount opened #86 "Can it support Data Matrix"
Will it support scanning data matrix in the future？

[2020-01-30 12:13] gokulkrishh commented on #86
@DuskMount As of now no plan. But PR's are always welcome!

[2020-02-04 08:49] earwickerh opened #87 "possible bug with URLs"
When I scan a qr for a non- http:// URL, I don't get the "open" button. However if I first go to an http url->tap "close" -> then go to a non http:// url the "open" button shows up. Using firefox on android.

p.s. Great App! Thank you!

[2020-02-04 12:09] gokulkrishh commented on #87
@earwickerh Seems like a BUG 🐞. Thanks for reporting. I will check the issue.

[2020-02-11 15:44] jeynergil opened #88 "Camera not loading in shared hosting, but works on Linode VPS."
Hi,
I used the same version of npm  6.13.7 for both servers.

I installed using the steps:
1. git clone https://github.com/code-kotis/barcode-scanner
2. npm install
3. npm run build

Opened in linode server: barcode-scanner/dist/index.html --- Works!

Opened in shared hosting: barcode-scanner/dist/index.html
https://theapexteam.com/src/misc/misc/barcode-scanner/dist/index.html --- Not working!

Ca

[2020-02-12 02:17] gokulkrishh commented on #88
@jeynergil Check your network logs. SOme resources are 404. it should work once you fix it.

[2020-02-12 02:53] jeynergil commented on #88
Thank you for the reply.

I saw it.

It is pointing like this:

GET https://theapexteam.com/images/photo-camera.svg 404
GET https://theapexteam.com/manifest.json 404

I did not install it on the ROOT folder. I installed it here src/misc/misc/barcode-scanner/.

https://theapexteam.com/src/misc/misc/barcode-scanner/dist/index.html

May I know why it is looking for the file in the root directory?

[2020-02-12 12:45] gokulkrishh commented on #88
@jeynergil Check the URL, its pointing to the `images/photo-camera.svg`. So the `photo-camera` image is looking into root directory image folder. Thats how web server looks for the resources.

Hence not working.

[2020-02-21 07:26] Lynn-cc opened #89 "How could I use this on my html5 page ?"
My html5 application need the qr scan feature, but the project is an app
How could I use the on my html5 page with javascript ?

[2020-02-22 07:22] gokulkrishh commented on #89
@Lynn-cc Issues in github are meant for issue in app. This is not a helping forum. Go to stackoverflow and create questions so people can help you.

[2020-02-22 07:22] #89 closed

[2020-02-22 07:22] gokulkrishh commented on #76
@odairdg Can you translate your issue to english. I am sorry i dont understand your issue title or desc.

[2020-02-22 07:23] gokulkrishh commented on #79
@ian367 Issue in github are meant for logging issue in app. This is not helping forum. Post your questions in stackoverflow.

[2020-02-22 07:23] #79 closed

[2020-02-22 07:27] gokulkrishh commented on #75
@shah-pooja This is not helping forum. Post your questions in stackoverflow.

[2020-02-22 07:27] #75 closed

[2020-02-22 07:28] gokulkrishh commented on #73
@xiaxiao001 Post your questions in stackoverflow and issues in github are meant for issues in app.

[2020-02-22 07:28] #73 closed

[2020-02-22 07:28] gokulkrishh commented on #71
@shah-pooja post your questions in stackoverflow. This is not a helping forum

[2020-02-22 07:28] #71 closed

[2020-02-22 07:29] gokulkrishh commented on #83
@ashishurfriend008 Issues in github are meant for issues in app. This is not a helping forum. pls post your questions in stackoverflow.

[2020-02-22 07:29] #83 closed

[2020-02-22 07:30] gokulkrishh commented on #88
@jeynergil Closing this issue. As its not an issue with app. You need help pls post it in stackoverflow. Issues in github are meant for issues in app.

[2020-02-22 07:30] #88 closed

[2020-02-22 07:34] gokulkrishh commented on #87
@earwickerh I am not able to reproduce this issue. It works fine for both http, https url. Closing the issue for now. Feel free to re-open if needed!

[2020-02-22 07:34] #87 closed

[2020-02-22 07:36] gokulkrishh commented on #78
@mfulton26 Yes. Seems like its a bug. I am also not able to make it work. I will try it. Thanks for reporting

[2020-03-03 14:19] maathieu opened #90 "App "index.html" contains analytics for a third party"
**Describe the bug**

in app/index.html there are:
- calls to an external website's javascript (cdn.jsdelivr.net)
- calls to Google Analytics with a 3rd party account

**Expected behavior**
No external calls, and no Google account (this should be left to the webmaster's decision).

[2020-03-03 14:55] gokulkrishh commented on #90
@maathieu Care to explain more ??

[2020-03-04 09:21] NoverNobida opened #92 "Use front camera only"
**Describe the bug**
On samsung mobile phone, the application uses only the front camera.

**Smartphone (please complete the following information):**
 - Device: [Samsung S10]
 - OS: [oneui 2.0]
 - Browser [kiwibrowser and default browser]
 - Version [latest]

[2020-03-10 12:35] offsui commented on #92
I have the same Issue.

Galaxy S20+
Chrome and Samsung Browser
Newest Android Version 10 (UI 2.1)

(On my Old Galaxy S9+ it has worked)

Any Solutions?

[2020-03-11 10:09] Messaoudi-Nagib commented on #92
Same issue on a Galaxy s10+ with Android 10 too.

[2020-03-13 03:52] gokulkrishh commented on #92
@Messaoudi-Nagib @offsui @NoverNobida Thanks for reporting. I will look into it.

Issue seems like latest chromium based browsers are loading front camera instead of back camera.

[2020-03-14 15:19] Mr-Lizard commented on #76
I did a test on a qrcode but the pwa is not reading.
I did the reading test of the same qrcode in other PWAS and NATIVE APPS and the reading worked.

What would be the error?

[2020-03-18 03:13] gokulkrishh commented on #92
@NoverNobida @offsui @Messaoudi-Nagib Hi, I have tested the app in android 10 and latest chrome. It opens back camera only. Not the front. Not sure how to reproduce it.

[2020-03-18 08:14] offsui commented on #92
@gokulkrishh But with which Phone? I think it is **Phone depending**. With my Huawei Mate 20 Lite it has worked, also with Android Version (9.0) and Chrome (80.0.3987.132).

[2020-03-18 08:16] gokulkrishh commented on #92
@offsui Yes it worked in android 10 and latest chrome.

But in samsung browser and chrome browser in samsung smartphone, camera opened is front not rear.

[2020-03-20 10:32] offsui commented on #92
@gokulkrishh possible to fix this?

[2020-03-24 09:08] offsui commented on #92
@gokulkrishh hm?

[2020-03-24 16:09] gokulkrishh commented on #92
@offsui Hi, Sorry for late reply. I dont have samsung device to verify my changes. Perhaps you can send a PR?

[2020-03-24 16:11] offsui commented on #92
@gokulkrishh where can i try it?
Sorry for my question, what is "PR"?

[2020-03-24 16:12] gokulkrishh commented on #92
@offsui  Sure no problem. [Start here](https://github.com/code-kotis/qr-code-scanner/blob/master/app/js/vendor/qrscan.js#L76)

`PR` = `Pull Request` (Fix for this issue)

[2020-03-24 16:19] offsui commented on #92
@gokulkrishh The Last change of this File was on 15 Oct 2018 ? https://qrcodescan.in still doesn't work with Galaxy Phone (Front Cam is used). Sorry I don't know what to do ?

[2020-03-25 14:04] gokulkrishh commented on #92
@offsui Hi, as of now i am not planning to fix it. I have added help wanted. I will post in twitter and see if anybody is ready to fix this.

[2020-03-26 02:22] gokulkrishh commented on #80
@caesss @comatory Hi, Just wanted to let you people know in IOS 13.4 verision, webkit webview (ADD to home screen) allows camera API. It works.

**GIF**:

![ezgif-3-d79e698710d2](https://user-images.githubusercontent.com/2944237/77603660-a24b9180-6f36-11ea-8335-d568662b39c0.gif)

Thus closing this issue

[2020-03-26 02:22] #80 closed

[2020-03-26 02:23] gokulkrishh commented on #78
@mfulton26 Hi, Just wanted to let you know in IOS 13.4 verision, webkit webview (ADD to home screen) allows camera API. It works.

**GIF**:

![ezgif-3-d79e698710d2](https://user-images.githubusercontent.com/2944237/77603660-a24b9180-6f36-11ea-8335-d568662b39c0.gif)

Thus closing this issue. Feel free to re-open.

[2020-03-26 02:23] #78 closed

[2020-03-26 11:35] gokulkrishh commented on #92
This is fixed in #94 so closing it

[2020-03-26 11:35] #92 closed

[2020-03-27 03:00] mfulton26 commented on #78
that must be new, thank you

[2020-04-13 13:16] SoyeTsin opened #95 "How do I use this program in vue-cli3"

[2020-04-14 02:12] gokulkrishh commented on #95
@SoyeTsin This is not helping forum, create issue for valid reasons. Post your question in stackoverflow to get help.

[2020-04-14 02:12] #95 closed

[2020-04-26 23:46] mrzhoul-2 opened #96 "It ask for user pass"
i just apt install npm
sudo npm update
su
git clone
npm install
npm update again
npm run start
npm run build
npm run deploy

last command run deploy... it ask for user pass for github. after that it says...

Rewrite a403c8677c0f576bc344b3bafd8be3768037e5b4 (13/13) (0 seconds passed, remaining 0 predicted)
Ref 'refs/heads/gh-pages' was rewritten
Username for 'https://github.com': mrzhoul-2
Password

[2020-04-27 02:17] gokulkrishh commented on #96
@mrzhoul-2 Issue are meant for issues in application and its not a help forum. Post your questions in stackover flow.

And regarding your question. Of course you dont have access to the project so you cannot deploy it.

[2020-04-27 02:17] #96 closed

[2020-05-01 10:46] arezooalipanah opened #97 "how to use in react pwa?"
Hi
Thank you
How can i use your project in react js project as package?

[2020-05-01 13:21] gokulkrishh commented on #97
@arezooalipanah Pls use issues in github only for bugs and feature request. For more help post your question in stackoverflow.

[2020-05-01 13:21] #97 closed

[2020-05-08 05:55] AKclown opened #98 "The error you provided does not contain a stack trace"
index.js:1 Uncaught Error: The error you provided does not contain a stack trace.
    at S (index.js:1)
    at V (index.js:1)
    at index.js:1
    at index.js:1
    at a (index.js:1)
S @ index.js:1
V @ index.js:1
(anonymous) @ index.js:1
(anonymous) @ index.js:1
a @ index.js:1
:3000/#/:1 Uncaught (in promise) DOMException: Requested device not found

[2020-05-08 08:56] gokulkrishh commented on #98
@AKclown Provide more information. When did you got the issue and on what device?

[2020-05-08 09:25] AKclown commented on #98
I reported this error during initialization

[2020-05-08 09:32] AKclown commented on #98
![image](https://user-images.githubusercontent.com/33648653/81392864-e0e98400-9151-11ea-9cac-afc82df1b3ce.png)
![image](https://user-images.githubusercontent.com/33648653/81392890-ea72ec00-9151-11ea-8532-5cc53decdd0c.png)
![image](https://user-images.githubusercontent.com/33648653/81392903-f199fa00-9151-11ea-8d78-3a12e5aa76cf.png)

[2020-05-08 09:33] AKclown commented on #98
![image](https://user-images.githubusercontent.com/33648653/81392940-07a7ba80-9152-11ea-8f32-2e1a0c5022be.png)

[2020-05-08 09:34] AKclown commented on #98
import QRScanner from 'qr-code-scanner';

[2020-05-08 09:35] AKclown commented on #98
import QRScanner from 'qr-code-scanner';

 async componentDidMount() {
        QRScanner.initiate({
            onResult: (result) => { console.log('测试'); },
            timeout: 10000
        });
}

I only added these two sentences in react。He made a mistake

[2020-05-08 09:38] AKclown commented on #98
My local environment here, not https

[2020-05-08 10:18] gokulkrishh commented on #98
@AKclown Hi, this is not a npm module where you can install it and use it. Its a simple web app.

closing this issue as this is not an issue. Pls post your questions in stackover flow to get help.

[2020-05-08 10:18] #98 closed

[2020-05-08 10:24] AKclown commented on #98
thanks  you 。  I found the same name at npm and thought your

[2020-05-10 14:23] TrackMyToken opened #99 "Not working in chrome ios"
**Describe the bug**
I see a blank screen when I opened qrcodescan.in in chrome ios.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://qrcodescan.in in chrome ios
2. We see a blank screen

**Expected behavior**
It should as for permissions to access camera and should be able to scan

**Smartphone (please complete the following information):**
 - Device: all the iphones
 - OS: IOS

[2020-05-11 02:24] gokulkrishh commented on #99
@TrackMyToken

Yes this web app will not work in any iOS browsers except safari browser.

Chrome in iOS is made of iOS WebKit. iOS WebKit doesnt provide access to API's. Hence it will not work in ios third party browsers.

Closing this issue as it cannot be fixed from our side.

More ans: https://stackoverflow.com/questions/51501642/chrome-and-firefox-are-not-able-to-access-iphone-camera?answertab

[2020-05-11 02:24] #99 closed

[2020-05-27 17:31] dialna opened #104 "automatically read the qr without open or close buttons"
Congratulations the best pwa reader, it cannot be programmed in js, it could help me to make the app read qr without confirmation, I would very much appreciate your response, Greetings

[2020-05-28 02:17] gokulkrishh commented on #104
@dialna Thanks. I dont think we can remove the code the open and close button for the app. Feel free to fork and do necessary changes accordingly.

If you have any questions on how, pls post in stack overflow.

[2020-06-24 13:36] AdijanDervisevic opened #105 "Code to stop scanner"
Hi,

first thanks to author for this great plugin, ti works perfect. Now i am just wondering if someone can help me with javascript code to stop scanning. I implemented it in popup and added button at top to close popup. I can hide popup with video inside, but in background browser is still accessing user webcam what causes website lagging so i would like to make 2 functions, one to StartScan and

[2020-06-24 14:00] gokulkrishh commented on #105
@AdijanDervisevic Thanks!. Issues in GitHub are meant for issues in-app not for asking questions on how to make it work.

Pls, post your questions in StackOverflow to get help in coding.

Quick help, [Check here](https://github.com/code-kotis/qr-code-scanner/blob/master/app/js/main.js#L51) for code.

[2020-06-24 14:00] #105 closed

[2020-06-29 13:35] bgeffari opened #106 "Not working from public server"
I try it in localhost and it works fine, but not working if I access it from outside?

[2020-06-30 01:52] gokulkrishh commented on #106
@bgeffari Ask your question in stackoverflow. Issues in github are meant for the bugs, improvements and issues in the app.

[2020-06-30 01:52] #106 closed

[2020-07-01 20:32] orlandoGAero opened #107 "Configure Camera"
**Describe the bug**

In which part of the code is it configured which camera to show?

select front camera or back camera

[2020-07-02 02:11] gokulkrishh commented on #107
@orlandoGAero It always selects the back camera.

Code is https://github.com/code-kotis/qr-code-scanner/blob/master/app/js/vendor/qrscan.js#L84

[2020-07-06 18:13] orlandoGAero commented on #107
on apple devices, open the front camera

[2020-07-07 02:39] gokulkrishh commented on #107
@orlandoGAero Thanks for the information. Can you let me know which version of ios you are using? I have tested the app in ios13 and ios14 beta. Both versions open's back camera.

[2020-07-10 15:11] luke-z opened #108 "DOMException on page reload"
Hi there

I've been experimenting with your app and found an issue.

On reloading the page with my notebook, it returned an exception (DOMException: Could not start video source).

After trying a few things, I figured out the problem.
On my notebook, it tried to access the IR camera and thus somehow couldn't free it up afterwards.

I solved it by adding
`&& !device.label.includes('IR')`
to the if

[2020-07-11 23:34] xmha97 opened #109 "Use transpatent apple-touch-icon"
Hello,
Please use transparent apple-touch-icon.
![Firefox](https://user-images.githubusercontent.com/23485114/87235758-a96ab280-c3f4-11ea-8024-a8226bf5b9d1.png)
Thanks.

[2020-07-12 03:08] gokulkrishh commented on #109
@xmha97 Thanks for reporting. I didnt know that firefox uses apple-touch-icon for the pinned/frequent tabs in homepage.

[2020-07-12 06:36] xmha97 commented on #109
I found Firefox's documentation on this:
https://developer.mozilla.org/en-US/docs/Mozilla/Firefox/UI_considerations.
I hope this helps you.

[2020-08-19 07:12] Damat7 opened #110 "Detailed instructions"
Super, great demonstration of how the application works.
But, I got a problem when installing on shared hosting, with node.
For a beginner, please post more detailed installation instructions.
Is it possible to launch this application using Passenger? And which file is being launched from the browser.
Thank.

[2020-08-19 11:09] Damat7 commented on #110
Raw process output:
(node:157323) [DEP0016] DeprecationWarning: 'GLOBAL' is deprecated, use 'global'
/home/a0463269/domains/aisso.ru/public_html/app/decoder.js:20
self.onmessage = function(imgData) {
^

ReferenceError: self is not defined
    at Object.<anonymous> (/home/a0463269/domains/aisso.ru/public_html/app/decoder.js:20:1)
    at Module._compile (internal/modules/cjs/loader.js:778:30)
    at

[2020-08-21 09:33] Damat7 opened #111 "Sending mailto :"
Great product.
Scanner only work with QR URL? How to enable the possibility of sending QR mailto :?
After decoding, the result is displayed, but there is no open button.

[2020-08-21 09:34] Damat7 commented on #110
I figured it out, I close it.

[2020-08-21 09:56] Damat7 commented on #111
If you scan the QR url, then follow the link, click back, scan the QR mailto:, then the "open" button is available.
Как это исправить?

[2020-08-25 13:45] HKalbasi opened #112 "Did Not Connect: Potential Security Issue"
Firefox detected a potential security threat and did not continue to qrcodescan.in because this website requires a secure connection.

What can you do about it?

qrcodescan.in has a security policy called HTTP Strict Transport Security (HSTS), which means that Firefox can only connect to it securely. You can’t add an exception to visit this site.

The issue is most likely with the website, and the

[2020-08-25 14:23] gokulkrishh commented on #112
@HKalbasi Thanks for reporting 👍 . There was an issue with SSL/TLS certificate. Its been resolved now. Let me know if you still face the issue else we can close this.

[2020-08-25 15:35] hkalbasi commented on #112
Fixed. Thank you for quick response!

[2020-08-25 15:35] #112 closed

[2020-08-27 10:47] Damat7 commented on #111
Solved:
add index.html
`<button type="button" class="app__dialog-open" style="display: inline-block;">Open</button>`

[2020-08-27 10:47] #111 closed

[2020-08-28 06:52] KrasnayaPloshchad commented on #109
This can be done by using Pixlr even if you haven’t install a proper image editor.

[2020-08-28 11:50] xmha97 commented on #109
@gokulkrishh Please merge this pull request: https://github.com/code-kotis/qr-code-scanner/pull/113
I make a better icon:
![apple-touch-icon](https://user-images.githubusercontent.com/23485114/91557366-9a5ea600-e949-11ea-9dc0-20f22c6feb97.png)

[2020-08-28 13:37] gokulkrishh commented on #109
@xmha97 Hey, thanks. But we are not looking for a new icon. we will stick to the same as the icon we have.

[2020-10-17 03:29] bryin opened #114 "閥栓巡察"

[2020-10-17 03:56] KrasnayaPloshchad commented on #107
This is also happened to me. On Android 7, [Firefox Nightly](https://apkpure.com/firefox-nightly/org.mozilla.fenix).

[2020-11-06 13:34] purito opened #115 "App build failed on shared hosting"
When I run "npm run build" on my shared hosting server it throws an error. On my localhost the app running fine.
This is the error:

clean-webpack-plugin: /home/audi0910/public_html/qr-code-scanner/dist has been removed.
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! qr-code-scanner@1.0.0 build: `cross-env NODE_ENV=production webpack-cli --mode=production --config webpack.config.js`
npm ERR! E